@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page{
    text-align: center;
    position: relative;
    height: 100vh;
    padding: 3%  5%;
}
.updateForm{
    display: flex;
    justify-content: center;
}

.updateForm form{
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.updateForm input{
    width: 100%;
    min-height: 40px;
    outline: none;
    background: none;
    border: 1px solid #d0d0d0;
    border-radius: 11px;
}

.Logout{
    color: #CF3636;
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    bottom: 8%;
    left: 5%;
    height: 1.5rem;
}

.Logout p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}